/* use google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/* common css of body part */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
#container{
    width: 900px;
    margin: 0 auto;
}

/*===============================
        main css code start 
=================================*/

/* css code of Header section */
header{
    background-color: blue;
    margin-bottom: 70px;
    padding-bottom: 86px;
}
.top-header{
    width: 1160px;
    margin: 0 auto;
    padding-top: 42px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 49px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none
}
.three-dot{
    color: white;
    font-size: 25px;
    opacity: 0;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    margin-right: 36px;
    line-height: 24px;
    transition: 0.4s;
}
nav ul li:hover a{
    background-color: white;
    color: black;
    padding: 10px 24px;
    border-radius: 10px;
}
nav .login-button a{
    background-color: red;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    transition: .4s;
}
nav .login-button a:hover{
    background-color: white;
    color: black;
}
nav .login-button i{
    font-size: 15px;
    margin-right: 10px;
}
.inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner-header-title h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 27px;
}
.inner-header-title a{
    background-color: red;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    border-radius: 2px;
    transition: .4s;
}
.inner-header-title a:hover{
    background-color: white;
    color: black;
}
.inner-header-image{
    width: 556px;
}
.inner-header-image img{
    max-width: 100%;
    transition: transform 1.2s;
}
.inner-header-image:hover img{
    transform: rotate(360deg) scale(1.1);
    /* transform: scale(1.2); */
}

/* Header section code is finished */

/* first section code is start */

article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    justify-content: center;
}
.players-area{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 300px;
}
.player-info h3{
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 10px 0;
}
.player-info p{
    font-size: 16px;
    line-height: 26px;
}

/* first section code is finished */

/* start second section or blogs-area part */

.blogs-area {
    display: flex;
    align-items: center;
    margin: 165px 0;
    margin-left: 115px;
    margin-bottom: 150px;
}
.blog-title{
    width: 469px;
    margin-right: 66px;
}
.blog-title h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
}
.blog-title p{
    line-height: 28px;
    margin: 8px 0;
    color: #6C6C6C;
}
.blog-title a{
    text-decoration: none;
    background-color: #E02C6D;
    font-weight: 500;
    padding: 10px 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-radius: 5px;
    transition: 1s;
}
.blogs-area:hover a{
    background-color: black;
    color: white;
}
.blog-title i {
    margin-top: 24px;
    margin-left: 5px;
}
.blog-image{
    width: 567px;
}
.blog-image img{
    max-width: 100%;
}

/* second section or blogs area part is finished */


/* sign-up place start */
.signUp-place {
    background-color: #811f83;
    margin-bottom: 40px;
}
.signUp-form h2 {
    font-size: 28px;
    color: white;
    padding-top: 50px;
}
.signUp-form input {
    width: 240px;
    height: 50px;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    margin: 20px 30px 50px 1px;
}
.signUp-form button {
    width: 240px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    background: darkblue;
    color: white;
    font-weight: 700;
    letter-spacing: 0.20em;
    transition: .4s;
}
.signUp-form button:hover{
    background-color: white;
    color: black;
}

/* sign-up place finished */


/* Footer part is start */

.footer-image{
    width: 482px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-image img{
    max-width: 100%;
}
.social-icons{
    width: 482px;
    text-align: center;
    margin: 0 auto;
}
.social-icons i {
    font-size: 18px;
    padding: 8px;
    color: grey;
    background-color: #80808052;
    border-radius: 50%;
    margin: 10px 5px 20px 5px;
    transition: 1s;
}
.social-icons i:hover{
    background-color: rgba(255, 0, 0, 0.39);
    color: black;
}
.social-icons span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    display: block;
}

/* footer part is finished */


/* start media query for mobile devices */

@media screen and (max-width: 688px) {
    #container{
        width: 100%;
        text-align: center;
    }
    .top-header{
        width: 100%;
    }
    nav {
    display: flex;
    width: 100%;
    margin-top: -78px;
    justify-content: center;
}
    nav ul li a{
        margin-right: 10px;
    }
    nav .three-dot {
        opacity: 1;
        font-size: 40px;
        margin-right: 260px;
        margin-left: 10px;
    }
    nav .main-align{
        display: none;
    }
    nav .login-button {
        width: 100%;
        text-align: right;
        margin: 60px 0;
        display: flex;
        margin-right: 10px;
    }
    nav .login-button a{
        display: flex;
    }
    .inner-header {
        width: 100%;
        flex-direction: column;
    }
    .inner-header-title h1 {
        font-size: 22px;
    }
    .inner-header-title {
        width: 100%;
        text-align: center;
        margin-top: -54px;
        margin-bottom: 37px;
    }
    .inner-header-image {
        width: 100%;
        margin-bottom: -124px;
    }
    .inner-header-image img{
        max-width: 100%;
    }
    article {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .players-area{
        width: 100%;
    }
    .blogs-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: -163px;
        margin-left: 0;
    }
    .blog-title {
        width: 100%;
        margin-top: -122px;
        margin-bottom: 210px;
        margin-right: 0;
    }
    .blog-title h1{
        text-align: center;
    }
    .blog-image {
        width: 100%;
        margin-top: -171px;
        margin-bottom: 82px;
    }
    .blog-image img{
        width: 100%;
    }
    .signUp-place {
        padding-bottom: 50px;
        margin-top: 100px;
    }
    .signUp-form{
        width: 100%;
        flex-direction: column;
    }
    .signUp-form input{
        margin-bottom: 8px;
    }
    .signUp-form button {
        margin-top: 23px;
        margin-left: -15px;
    }
    .signUp-form h2{
        text-align: center;
    }
    .footer-area{
        width: 100%;
    }
    .social-icons{
        width: 100%;
    }
    .footer-image{
        width: 100%;
    }
    .footer-image img {
        width: 310px;
        margin-left: -75px;
        margin-bottom: -81px;
    }


}